<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
      <ion-item *ngFor="let task of tasks; let i = index">
        <ion-label (click)="onTaskSelected(i)">{{task.name}}</ion-label>
        <ion-button (click)="delTask(i)" fill="clear" size="large" *ngIf="!playSelected">
          <ion-icon slot="icon-only" name="trash" class="playButtom"></ion-icon>
        </ion-button>
        <ion-button (click)="editTask(i)" fill="clear" size="large" *ngIf="!playSelected">
          <ion-icon slot="icon-only" name="create" class="playButtom"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-item lines="none">
      <ion-button (click)="addTask()" fill="clear" size="large" *ngIf="!playSelected">
        <ion-icon slot="icon-only" name="add-circle-outline" class="playButtom"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- <ion-item lines="none">
        <ion-button (click)="setValue()" fill="clear" size="large" *ngIf="!playSelected">
          <ion-icon slot="icon-only" name="save" class="playButtom"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
          <ion-button (click)="checkValue()" fill="clear" size="large" *ngIf="!playSelected">
            <ion-icon slot="icon-only" name="eye" class="playButtom"></ion-icon>
          </ion-button>
        </ion-item> -->

</ion-content>
