.item-active {
    // background-color: greenyellow;
    color: grey;
}

.item {
    // background-color: white;
    // color: white;
}

.listaItems {
    background-color: red;
    color: blue;
}

.timeInfo {
    background-color: red;
}

.card {
    background-color: grey !important; // black
    box-shadow: none;
}