.playButtom {
    // font-size: 20vw;
    color: green;
}

.stopButtom {
    // font-size: 20vw;
    color: red;
}

.calendar-week {
    // width: 100%;
}
.week-header {
    background-color: #969696;
    border: 3px solid #838383;
    color: #FFFFFF;
}