<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{taskName}}'s Timesheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button (click)="playTime()" fill="clear" size="large" *ngIf="!playSelected">
    <ion-icon slot="icon-only" name="play-circle" class="playButtom"></ion-icon>
  </ion-button>
  <ion-button (click)="stopTime()" fill="clear" size="large" *ngIf="playSelected">
    <ion-icon slot="icon-only" name="exit" class="stopButtom"></ion-icon>
  </ion-button>

  <app-collapsible-list [times]="times" (itemSelected)="selectedItemToEdit($event)"></app-collapsible-list>

  <ion-button (click)="addModal()" fill="clear" size="large" *ngIf="!isOneWeek">
    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
  </ion-button>

</ion-content>