<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title>By Diego Campos - PrototypeAR</ion-title>

  <ion-title>
    <a class="item" href="#"
      onclick="window.open('https://diegoncampos.github.io/', '_system', 'location=yes'); return false;">
      My Resume
    </a>
  </ion-title>
  <ion-title>
    <a class="item" href="#"
      onclick="window.open('https://github.com/diegoncampos/clearAccounts', '_system', 'location=yes'); return false;">
      Project Repository
    </a>
  </ion-title>
</ion-content>
